<web-app xmlns= "https://jakarta.ee/xml/ns/jakartaee"
 xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation= "https://jakarta.ee/xml/ns/jakartaee
 https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
 version= "5.0"
 metadata-complete= "true">
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>org.controller.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>org.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>org.controller.SignUpServlet</servlet-class>
    </servlet>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>org.controller.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/ProfileServlet</url-pattern>
        <url-pattern>/EditProfileServlet</url-pattern>
        <url-pattern>/editprofile.jsp</url-pattern>
        <url-pattern>/profile.jsp</url-pattern>
        <!-- Add more URL patterns as needed -->
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>org.controller.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>org.controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpValidate</servlet-name>
        <servlet-class>org.controller.SignUpValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>org.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>org.controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductsServlet</servlet-name>
        <servlet-class>org.controller.AdminProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductsServlet</servlet-name>
        <url-pattern>/AdminProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpValidate</servlet-name>
        <url-pattern>/SignUpValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>org.controller.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/productdetails</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>SignUp.jsp</welcome-file>
      </welcome-file-list>
    


</web-app>